﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div>
            @{ Html.RenderAction("RenderHeader", "Ajax"); }
        <br />
        <hr class="set-hr-width" />
        <div>
            @RenderBody()
            <div class="center-align-text">&copy; Copyright Protected</div>
            <div class="signup" align="center">
               @*see the Site.css for what footer css id does*@
                <footer id="footer">
                    <br />
                    <hr class="set-hr-width" />
                    <div>
                        @{ Html.RenderAction("RenderSignUp", "Ajax"); }
                        <p>
                            All of the images in this website are copyrighted original works by Chris Marek, and they are protected by the United States and international copyright law.
                            Use of any content from this site, for any purpose, is strictly forbidden without express, written permission from Chris Marek Photography.
                        </p>
                        <p>&copy; @DateTime.Now.Year - Chris Marek Photography</p>
                        <div>
                            <div><a href="https://www.flickr.com/photos/30888088@N02/">Visit my photos on flicker</a></div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        @{
            Html.RenderPartial("partial/_UrlMap");
        }

        @Scripts.Render("~/bundles/jquery")
        @*@Scripts.Render("~/bundles/bootstrap")*@
        @RenderSection("scripts", required: false) 

    </div>
</body>
</html>
