﻿@{
    ViewBag.Title = "Home";
}


<div class="row">
    <div class="parent" align="center">
        <img src="~/images/A29C4734x.jpg" alt="Image" class="ssimage col-1 child about-inline-block-child" />
        <div class="aside col-4 child about-inline-block-child">
            <h2>CHRIS MAREK</h2>
            <div><hr style="width:30%;height:2px;border-width:0;background-color:gray;margin-top: 0em"></div>
            <br />
            <p class="left-align-text">A native of the Dallas area, as a child, Chris grew up exploring fields and creeks when much of Dallas was yet to be developed. In those early years, Chris's wildlife observation skills became well developped, as did his knowledge of wildlife behavior. The key thing is patience. Patience is easy to have when one is so fascinated with nature that just sitting and watching some natural event unfold is supreme entertainment. That could be a spider wasp chasing down a wolf spider, or a horned lizard on tip toes picking off harvester ants. Needless to say patience and an understanding of his subjects is the key when photographing natural subjects. He enjoys road trips each fall through the American west, and has traveled to Central and South America and South Africa. On his trips to the rainforest in Peru, Chris was amazed at how easy it was for him to find forest creatures while those who accompanied him found mostly nothing. It goes back to those early days in Dallas.</p>
            <p class="left-align-text">Chris took up photography back in the era of film. Shooting film was an expensive proposition. Each frame was carefully exposed to avoid waste. And understanding how to make perfect exposures was a real skill when shooting film. All that changed when digital finally came along. It is still critically important to make every exposure perfect, but now it is possible to be less frugal with the number of exposures it takes to capture subjects in motion. The challenge of photographing birds in flight is much more plausible and an exciting pursuit. The patience Chris developped all those years ago pays off today when photographing fast moving subjects.</p>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            Photography.shared.handleAjaxErrors();
            Photography.about.init();
        });
    </script>
}
