﻿
@{
    ViewBag.Title = "Home";
}
    <div align="center" >
        <div style="position: relative; top: 200px;" id="loading-spinner">
            <img width="31" src="@Url.Content("~/Images/ajax-load-icon.gif")" alt="Loading Image" />
        </div>
        @*slideshow images Grid loaded by javascript*@

        <ul class="no-bullets slideshow_grid" >
        </ul>

    </div>

    @section scripts{
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">
            $(function () {
                Photography.shared.handleAjaxErrors();
                Photography.slideshow.init();
            });
        </script>
    }
