﻿
@{
    ViewBag.Title = "Images";
}

<div align="center">
    <span id="images_select_id signup">Scroll and Select images</span>
    <div><hr style="width:6%;height:2px;border-width:0;background-color:gray;margin-top: 0em"></div>
    <div class="image_select-container image_select">
        <div>
            <select id="image_select" data-property="image_select" size="6">
                <option value="0" disabled>- Select an image -</option>
                <option value="greatblueheron" selected="selected">Great blue heron</option>
                <option value="greenheron">Green heron</option>
                <option value="greategret">Great egret</option>
                <option value="snowyegret">Snowy egret</option>
                <option value="cattleegret">Cattle egret</option>
                <option value="barnswallow">Barn swallow</option>
                <option value="snowgoose">Snow goose</option>
                <option value="scissortailedflycatcher">Scissortailed flycatcher</option>
                <option value="sandhillcrane">Sandhill crane</option>
                <option value="screechowl">Screech owl</option>
                <option value="bluebird">Blue bird</option>
                <option value="bufflehead">Bufflehead duck</option>
                <option value="easternphoebe">Eastern Phoebe</option>
                <option value="curvebilledthrasher">Curve billed thrasher</option>
                <option value="ringneckedduck">Ring-necked duck</option>
                <option value="redbelliedwoodpecker">Red-bellied woodpecker</option>
                <option value="redwingedblackbird">Red-winged Blackbird</option>
                <option value="redtailedhawk">Red tailed hawk</option>
                <option value="whiteibis">White Ibis</option>
                <option value="whitefacedibis">White Faced Ibis</option>
                <option value="acornwoodpecker">Acorn Woodpecker</option>
                <option value="anhinga">Anhinga</option>
                <option value="cormorant">Double crested cormorant</option>
                <option value="blackcappedchickidee">Black Capped Chickidee</option>
                <option value="americancoot">American coot</option>
                <option value="pintailduck">Pintail duck</option>
                <option value="mockingbird">Mockingbird</option>
                <option value="gambelsquail">Gambels' quail</option>
                <option value="bewickswren">Bewicks wren</option>
            </select>
        </div>
    </div>
</div>

<div id="SearchImages" align="center">
    <div style="position: relative; top: 200px;" id="loading-spinner">
        <img width="31" src="@Url.Content("~/Images/ajax-load-icon.gif")" alt="Loading Image" />
    </div>
    <!-- Search Images with drop down selection Gallery Grid loaded by javascript -->
    <ul class="no-bullets images_grid">
    </ul>
</div>
<!--  images view pop-up -->
<div id="view_image_dialog" title="View Image">
    <img id="view_image_content" src="@Url.Content("~/Images/avatar.png")" alt="Image Content" />
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            Photography.shared.handleAjaxErrors();
            Photography.images.init();
        });
    </script>
}
