﻿@{
    ViewBag.Title = "Home Page";
}

<div align="center">
    <a name="menu"></a>

    <h2>PORTFOLIO</h2>
    <div id="myBtnContainer">
        <button id="btn1" class="btn active"> Show all</button>
        <button id="btn2" class="btn"> Birds</button>
        <button id="btn3" class="btn"> Butterflies</button>
        <button id="btn4" class="btn"> Insects</button>
        <button id="btn5" class="btn"> Flora</button>
        <button id="btn6" class="btn"> Landscapes</button>
    </div>
    <div id="PortfolioImages" align="center">
        <div style="position: relative; top: 200px;" id="loading-spinner">
            <img width="31" src="@Url.Content("~/Images/ajax-load-icon.gif")" alt="Loading Image" />
        </div>
        <!-- Portfolio Gallery Grid loaded by javascript -->
        <ul class="no-bullets images_grid">
        </ul>
    </div>
    <!-- Portfolio image view pop-up -->
    <div id="view_image_dialog" title="View Image">
        <img id="view_image_content" src="@Url.Content("~/Images/avatar.png")" alt="Image Content" />
    </div>

</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            Photography.shared.handleAjaxErrors();
            Photography.portfolio.init();
        });
    </script>
}

