﻿@using ChrisMarekPhotography;
@using ChrisMarekPhotography.Models
@model HeaderViewModel



<div class="container center">
    <div class="banner" align="center">
        <img class="imageDescription" src="~/Images/HomeBanner.png" alt="chris marek photography" width="850" height="100" />
    </div>
    <div class="row">
        <div class="photography-nav slideshow-link">
            @Html.ActionLink("Home", "Home", "Home")
        </div>
        <div class="photography-nav portfolio-link">
            @Html.ActionLink("Portfolio", "Index", "Home")
        </div>
        <div class="photography-nav images-link">
            @Html.ActionLink("Images", "Images", "Home")
        </div>
        <div class="photography-nav about-link">
            @Html.ActionLink("About", "About", "Home")
        </div>
        <div class="photography-nav">
            @Html.ActionLink("Contact", "Contact", "Home")
        </div>
    </div>
</div>

<div>
    <a href="@Url.Action("ToogleCaching", "Ajax")" title="Click to toggle between Caching On/Off">@(((bool)System.Web.HttpContext.Current.Session[ChrisMarekPhotography.Controllers.ControllerBase.SessionKeys.ApplicationCacheKey]) ? "On" : "Off")</a>
</div>
@if (Model.photosResult.HasErrors)
{
    <table align="center" id="errors list">
        <tbody>
            <tr class="validation-message">
                <td>Some errors have been found in the 'photos' folders</td>
            </tr>
            <tr class="validation-message">
                <td>----------------------------------------------------</td>
            </tr>
            @foreach (string errors in Model.photosResult.ErrorMessages)
            {
                <tr class="validation-message">
                    <td>@errors</td>
                </tr>
            }
        </tbody>
    </table>
}

