﻿@using ChrisMarekPhotography;
@using ChrisMarekPhotography.Models;
@model PhotoViewModel

@foreach (IPhotoInformation info in Model.PhotoInformation)
{
    <li data-property="@info.Index" class="column portfolio imageDescription @info.Type @info.SpecificType">
        <a href="#">
            <img src="@Url.Content(@info.ImagePath)" alt="Image" class="portfolioImage" />
        </a>
        <div style="width: 100px" class="breakword overlay">@info.ImageDescription (@info.Index)</div>
    </li>
}



