﻿@using ChrisMarekPhotography.Models;
@model CustomerModel


<div align="center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        //by putting the term 'container' into the class, now the partial view will align to center finally!!!
        <div class="form-horizontal container  row">
            <fieldset class="customLegend1">
                <legend>NEWSLETTER SIGN-UP:</legend>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group row">
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        @Html.LabelFor(model => model.ConfirmEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ConfirmEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmEmail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <input type="submit" value="Submit" class="btn btn-default" id="register" />
                    </div>
                </div>
            </fieldset>
            <div>
                <fieldset class="customLegend2">
                    <legend>UpComing Events:</legend>
                    <table>
                        <tbody>
                            <tr>
                                <td class="eventmessages">Birding at White Rock Lake</td>
                            </tr>
                            <tr>
                                <td class="eventmessages">Birding at University Southwest medical center rookery</td>
                            </tr>
                            <tr>
                                <td class="eventmessages">Birding at Village creek drying beds</td>
                            </tr>
                            <tr>
                                <td class="eventmessages">Birding at Bosque del Apache in New Mexico</td>
                            </tr>
                            <tr>
                                <td class="eventmessages">Native Texas wildflowers</td>
                            </tr>
                        </tbody>
                    </table>

                </fieldset>
            </div>
        </div>
    }
</div>
