﻿@using ChrisMarekPhotography;
@using ChrisMarekPhotography.Models;
@model PhotoViewModel

@foreach (IPhotoInformation info in Model.PhotoInformation)
{
    //Put this back in if you want photo description on mouse over
    @*<li class="imageDescription">
            <img src="@Url.Content(@info.ImagePath)" alt="Image" class="ssimage" style="display: none">
            <div class="overlay">@info.ImageDescription</div>
        </li>*@

    <li class="slideshow center">
        <img src="@Url.Content(@info.ImagePath)" alt="Image" class="ssimage" >
    </li>
}