﻿
/*this hides the logo at startup*/
#view_image_dialog {
    display: none;
}
/*this hides the footer content at startup*/
#footer {
    display: none;
}


body {
    padding: 20px;
    position: relative;
    font-size: 14px;
    font-family: arial;
    margin-bottom: 114px;
}

/* this puts the slideshow image in center  */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* this puts the portfolio links on one row  */
.row {
    display: flex;
}

/* portfolio links margin spaces the links further apart */
.photography-nav {
    margin: 5px;
    flex: 33.33%;
    padding: 5px;
}

/* ******  this block makes the portfolio screen start working, but then is slide show js I need the code to scoo   ***************  */
/* ******  if i use the no-bullets above, it breaks stuff.    ***************  */
/* ******  I believe this is what determines the flex container (as UL)    ***************  */
ul.no-bullets {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0vh;
    padding: 0;
    border: 0;
    border-color:black;
    justify-content: left;
}


/* Add padding BETWEEN each column (if you want) */
li.portfolio.column {
    padding: 5px;
}

/* this controls the size of the portfolio thumbnails  */
li.portfolio {
    height: 15vh;
/*     got rid of this and things much improved
     flex: 1 1 auto;    
    flex: 1; */
}


/* this controls the size of the slide show images  */
li.slideshow {
    max-height: 60vh;
    min-width: 45vh;
    /*     got rid of this and things much improved
     flex: 1 1 auto;    
    flex: 1; */
}


/*This will display a much larger centered image*/
/*.ssimage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}*/

/*This will display a smaller, centered image*/
.ssimage {
    max-height: 60vh;
    min-width: 45vh;
    object-fit: cover;
    vertical-align: bottom;
}


/* this one gives heavy margins between the rows of images */
/* .portfolioImage {
    max-height: 90%;
    min-width: 45%;
    object-fit: fill;
    vertical-align: bottom;
} */

/* this one gives nice thin margins uniformially  between images */
.portfolioImage {
    max-height: 100%;
    min-width: 35%;
    object-fit: cover;
    vertical-align: bottom;
}




/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

.hide {
    display: none;
}

/* Style the portfolio buttons, margin spaces the buttons apart */
.btn {
    margin: 2px;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: lightgreen;
    cursor: pointer;
}

    /* Add a grey background color on mouse-over */
    .btn:hover {
        background-color: #ddd;
    }

    /* Add a dark background color to the active button */
    .btn.active {
        background-color: #666;
        color: white;
    }



/* This is how to get the image text to appear on mouse over */
/* The overlay effect - lays on top of the container and over the image */
/* absolute will left justify, relative will center the text */
/* bottom places text downward with negatives, upwards with positives */
.overlay {
    position: relative;
    bottom: 3vh;
    width: -10vh;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 1vh;
    font-family: Arial,Helvetica,sans-serif;
    padding: 0%;
    /* text-align: center; */
}
div.breakword.overlay {
  word-wrap: break-word;
}

/* When you mouse over the container, fade in the overlay title */
/* This is how to get the image text to appear on mouse over */
/* imageDescription Container needed to position the overlay. Adjust the width as needed */
.imageDescription:hover .overlay {
    opacity: 1;
}

.copyrightDescription {
    position: relative;
}


hr.set-hr-width {
    border-top: 3px solid brown;
}


.hasError {
    border: solid 2px red;
}


.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* this is what it takes to get two divs to be side by side! */
.signup-inline-block-child {
    display: inline-block;
    /* background-color: yellow; */
    vertical-align: top; /* here */
}
/* this is what it takes to get two divs to be side by side! */
.about-inline-block-child {
    display: inline-block;
    /* background-color: yellow; */
    margin: 35px;
    vertical-align: top; /* here */
}

.left-align-text {
    text-align: left;
    margin: 35px;
}

.center-align-text {
    text-align: center;
}

.customLegend1 {
    border: 1px solid black;
    padding: 2em 0 1em;
    margin-top: 2em;
    position: relative;
    margin: 35px;
    width: 35em;
}

    .customLegend1 legend {
        border: 0;
        background: #FFFFFF;
        width: auto;
        transform: translateY(-50%);
        position: absolute;
        top: 0;
        left: 1em;
        padding: 0 .5em;
    }

.customLegend2 {
    border: 1px solid black;
    padding: 2em 0 1em;
    margin-top: 2em;
    position: relative;
    margin: 35px;
    width: auto;
}

    .customLegend2 legend {
        border: 0;
        background: #FFFFFF;
        width: auto;
        transform: translateY(-50%);
        position: absolute;
        top: 0;
        left: 1em;
        padding: 0 .5em;
    }


.navheader {
    margin-top: 15px;
    font-size: 18px;
    color: black !important;
    background-color: #b3beca !important
}

.btnspace {
    margin: 15px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    overflow-y: scroll;
}

label {
    float: left;
    width: 25%;
    margin-right: auto;
    padding-top: 0.2em;
    text-align: right;
    font-weight: bold;
    font: 80%/1 sans-serif;
}

.validation-message {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #A90000;
    color: #FFFFFF;
    font-weight: bold;
}

.eventmessages {
    padding: 11px;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
    /* body {
    background-color: yellow;
  } */
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
    /* body {
    background-color: red;
  } */
}


/*Smaller Screens + Portrait*/
/* @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
        flex-direction: row;
    }

    li {
        height: auto;
        width: 100%;
    }

    .portfolioImage {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
} */

/* above came from home.css */
